result/control_01.png
result/fit.png
result/my.pdf
result/report.md
result/sample_01.png
result/sample_02.png
result/sample_03.png
result/sample_04.png
result/sample_05.png
result/sample_06.png
result/sample_07.png
result/sample_08.png
result/sample_09.png
result/sample_10.png
result/sample_11.png
result/sample_12.png
result/sample_13.png
result/sample_14.png
result/sample_15.png
result/sample_16.png
result/sample_17.png
result/sample_18.png
result/sample_19.png
result/sample_20.png
result/sample_21.png
